.site-logo {
    width: 130px;
    height: auto;
    margin-top: 10px;
}

.atf__header-options-2 .header-search:hover {
    background: #ff9101;
    color: white;
}

.search-open .for-search-show {
    opacity: 0;
    visibility: hidden;
}

.header-search .search-icon {
    min-width: 25px;
    text-align: center;
    font-size: 16px;
}

.search-icon {
    position: relative;
}

.search-icon .for-search-close {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.header-search {
    cursor: pointer;
    display: inline-block;
}

.search-open .for-search-close {
    opacity: 1;
    visibility: visible;
}

.atf__header-options-2 .header-search {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-pack: center;
    padding: 0;
    transition: all 0.3s ease 0s;
}

.atf__header-options-2 .header-search:hover {
    background: #ff9101;
    color: white;
}

.header-search-form {
    background-color: #ff9101;
    height: 0;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 130%;
    transition-duration: 0.4s;
    transition-property: height;
    width: 320px;
    z-index: 9999;
}

.header-search-form form {
    position: relative;
    margin: 15px 15px 0;
}

.header-search-form input {
    height: 60px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #eee;
    transition: all 0.3s ease-in-out;
}

.fa-solid {
    font-weight: 900;
}

.header-search-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #ff9101;
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 48px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 0;
    padding: 1px 6px;
}