<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparkling Minds Club</title>
  </head>

  <body>
    {% for course in courses %} 
        {{ course.course_name }}<br>
        {{ course.course_time }}<br>
        {{ course.course_start }}<br>
        {{ course.course_description }}<br>
        <br>
    {% endfor %}
  </body>
</html>
