{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="card-body">
        <div class="card-title">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" 
        role="button" aria-expanded="false" value="Input" aria-controls="collapseExample">
            Add Child<i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="collapse" id="collapseExample">
             <form class="card card-body" method="POST" action="">
                <div class="row">
                    <label for="child_name" class="form-label">Child Name: </label>
                    <div class="col-3">
                        <input type="text" id="childfname" name="childfname" class="form-control" 
                            placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-3">
                        <input type="text" id="childlname" name="childlname"  class="form-control" 
                            placeholder="Last name" aria-label="Last name">
                    </div>
                    <label for="date_of_birth" class="form-label">Date of Birth: </label>
                    <div class="col-auto">
                        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" 
                            placeholder="DD/MM/YYYY" aria-label="date-of-birth">
                    </div>
                    <label for="school_name" class="form-label">School Name: </label>
                    <div class="col-6">
                        <input type="text" id="school_name" name="school_name" class="form-control" 
                            placeholder="School Name" aria-label="School Name">
                    </div>
                    <label for="school_year" class="form-label">School Year: </label>
                    <div class="col-4">
                        <select class="form-select" id="school_year" name="school_year" 
                            aria-label="Default select example">
                            <option selected>Choose your Child's Academic Year</option>
                            <option value="1">Year 1</option>
                            <option value="2">Year 2</option>
                            <option value="3">Year 3</option>
                            <option value="4">Year 4</option>
                            <option value="5">Year 5</option>
                            <option value="6">Year 6</option>
                            <option value="7">Year 7</option>
                            <option value="8">Year 8</option>
                            <option value="9">Year 9</option>
                        </select>
                    </div>
                    <label for="child_med_conditions" class="form-label">Does your child suffer
                        from any medical conditions/allergies that the club should be aware of?
                    </label>
                    <div class="col">
                        <textarea  id="child_med_conditions" name="child_med_conditions" class="form-control" 
                            placeholder="Leave a comment here" aria-label="With textarea">
                        </textarea>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-success">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}